header{
  border-style: double;
}
footer{
  border-style: double;
}
main{
  border-style: double;
}
.form-user{
  max-width: 400px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
input[type=submit]{
  width: 100%;
}
.field-avatar{
  max-width: 400px;
  float: left;
  padding: 50px
}
.field-avatar img{
  width: 256px;
  height: auto;
}
