<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
<footer>
  <div class="social">
    <h3>Social Links</h3>
    <div class="social-list">
      <button class="social-btn" href="#">
        <i class="fa fa-linkedin-square fa-4x"></i>
        <p>LinkedIn</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-google-plus-square fa-4x"></i>
        <p>Google+</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-behance-square fa-4x"></i>
        <p>Behance</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-git-square fa-4x"></i>
        <p>Git</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-twitter-square fa-4x"></i>
        <p>Twitter</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-vimeo-square fa-4x"></i>
        <p>Vimeo</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-youtube-square fa-4x"></i>
        <p>Youtube</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-instagram fa-4x"></i>
        <p>Instagram</p>
      </button>
    </div>
  </div>
  <div class="contact">
    <h3>Contact Me</h3>
    <div class="social-list">
      <button class="social-btn" href="#">
        <i class="fa fa-envelope-square fa-4x"></i>
        <p>Email</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-skype fa-4x"></i>
        <p>Skype</p>
      </button>
      <button class="social-btn" href="#">
        <i class="fa fa-ra fa-3x"></i>
        <p>The Force</p>
      </button>
  </div>
</footer>
